# Dependencies
/node_modules

# Environment variables (Crucial for security)
.env

# Logs and debug files
npm-debug.log*
*.log

Two types of verifyToken.txt
Using local caching in verifyToken and measuring it's speed.txt